body {
  background-color: #e2e2e2;
  margin-top: 80px;
}

.subtext {
  color: #25847D;
}

a {
  color: #768FBF;
}

footer {
  padding-bottom: 50px;
}
.jumbotron-text h1 {
  font-size: 63px;
}

.jumbotron-text p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.braces:before {
  content: "{ ";
  color: #87DC7E;
}

.braces:after {
  content: " }";
  color: #87DC7E;
}

.btn-primary {
  background-color: #25847D;
  border-color: #25847D;
}
.btn-primary:hover {
  background-color: #87DC7E;
  border-color: #87DC7E;
}

.img-responsive {
  border-radius: 10px 10px 10px;
}

.project p{
  margin-top: 5px;
}

.header {
  font-family: monospace;
}

.header__key {
  color: #A23276;
}

.header__value {
  color: #25847D;
}
.footer {
  font-family: monospace;
}
.footer__link {
}
