
$subTextColor: #25847D;
$bodyBgColor: #e2e2e2;
$braceColor: #87DC7E;
$linkColor: #768FBF;

body {
  background-color: $bodyBgColor;
  margin-top: 80px;
}

.subtext {
  color: $subTextColor;
}

a {
  color: $linkColor;
}

footer {
  padding-bottom: 50px;
}
.jumbotron-text h1 {
  font-size: 63px;
}

.jumbotron-text p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.braces:before {
  content: "{ ";
  color: $braceColor;
}

.braces:after {
  content: " }";
  color: $braceColor;
}

.btn {
  background-color: $subTextColor;
  color: $bodyBgColor;
}

.img-responsive {
  border-radius: 10px 10px 10px;
}

.project {
  p {
    margin-top: 5px;
  }
}

